* {
    margin: 0;
    padding: 0;
}

.nav {
    display: block;
    text-align: left;
    position: relative;

}
    .form{
     padding: 8px;
     width: 70%;
    display: block;
    text-align: left;
    font-size: 80px;

}