body {
    width: 500px;
    margin: 2rem;
    border: 2px solid #000000
    padding: 2rem;
    
    label {
        display: #000000;
        text-align: left;
    }
    input {
        width: auto;
    }
}
.image-logo {
width: 300px;
}